@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1 class="mb-3">WebRtc with asp.net core and signalr</h1>
<div>
    User Id: <pre id="userId" class="mx-1 bg-info border border-1 border-primary d-inline p-2 rounded-3">Connecting ...</pre>
</div>
<div class="form-group mt-4 mb-2">
    <label for="toSocket">call a user: </label>
    <input type="text" class="form-control" id="toSocket" placeholder="user Id">
</div>
<div>
    <button class="btn btn-success" id="btn-connect">Connect</button>
    <button class="btn btn-primary" id="call">Start</button>
    <button class="btn btn-primary" id="stop">Stop</button>
    <button class="btn btn-primary" id="mute">Mute</button>
    <button class="btn btn-primary" id="unMute">UnMute</button>
    <button class="btn btn-primary" id="erase">Erase</button>
</div>
<div class="row">
    <div class="w-50 p-2"  id="videoEl">
        <video id="localVideo" autoplay controls autoplay="true" class="w-100"></video>
    </div>
    <div class="video" id="canvasEl" >
        <h3>Canvas Video </h3>
        <canvas id='canvas'></canvas>
    </div>
    <div class="w-50 p-2">
        <video id="remoteVideo" autoplay controls autoplay="true" class="w-100"></video>
    </div>
</div>