@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1 class="mb-3">WebRtc with asp.net core and signalr</h1>
<div>
    User Id: <pre id="userId" class="mx-1 bg-info border border-1 border-primary d-inline p-2 rounded-3">Connecting ...</pre>
</div>
<div class="form-group mt-4 mb-2">
    <label for="caleeId">call a user: </label>
    <input type="text" class="form-control" id="caleeId" placeholder="user Id">
</div>
<div>
    <button class="btn btn-success" onclick="ConnectClick()" id="btn-connect">Connect</button>
    <button class="btn btn-primary" onclick="StartClick()" id="btn-start">Start</button>
    <button class="btn btn-primary" onclick="StopClick()" id="btn-stop">Stop</button>
    <button class="btn btn-primary" onclick="MuteClick()" id="btn-mute">Mute</button>
    <button class="btn btn-primary" onclick="UnMuteClick()" id="btn-unmute">UnMute</button>
</div>
<div class="row">
    <div class="w-50 p-2">
        <video id="videoLocal" class="w-100" autoplay controls></video>
    </div>
    <div class="w-50 p-2">
        <video id="videoStream" class="w-100" autoplay controls></video>
    </div>
</div>